[0-9][0-9][0-9][0-9] Jul - [0-9][0-9][0-9][0-9] Jun/

Column Rules/
My_Audit_2022/
/My Audit/My_Audit_2022/
/My Audit/Column Rules/

.idea/
.idea/workspace.xml
ArchivedPrograms
My Audit/.idea
My Audit/.vscode

*.csv
*.xml

out
*.txt

database
audit.db

AuditCodes.iml