2022 Jul - 2023 Jun/
Column Rules/
My_Audit_2022/
/My Audit/My_Audit_2022/
/My Audit/Column Rules/

.idea/
.idea/workspace.xml
ArchivedPrograms
My Audit/.idea
My Audit/.vscode

*.csv
*.xml

out
*.txt
